<img ng-src="{{mainImageUrl}}" width="300" class="phone">

<h1>{{phone.name}}</h1>

<p>{{phone.description}}</p>

<ul class="phone-thumbs">
	<li ng-repeat="img in phone.images"><img ng-src="{{img}}" ng-click="setImage(img)" width="50"></li>
</ul>

<ul class="specs">
	<li>
		<div>Availability and networks</div>
		<dl>
			<dt>Availability</dt>
			<dd ng-repeat="availability in phone.availability">{{availability}}</dd>
		</dl>
	</li>
	<li>
		<div>Battery</div>
			<dl>
				<dt>Battery type</dt>
				<dd>{{phone.battery.type}}</dd>
				<dt>Talk time</dt>
				<dd>{{phone.battery.talkTime}}</dd>
				<dt>Standby time (max)</dt>
				<dd>{{phone.battery.standbyTime}}</dd>
			</dl>
	</li>
	<li>
		<div>Camera</div>
		<dl>
			<dt>Features</dt>
			<dd>{{phone.camera.features.join(', ')}}</dd>
		</dl>
	</li>
	<li>
		<div>Services</div>
		<dl>
			<dt>GPS</dt>
			<dd>{{phone.connectivity.gps}}</dd>
			<dd>{{phone.connectivity.gps|checkmark}}</dd>
		</dl>
		<dl>
			<dt>Touch screen</dt>
			<dd>{{phone.display.touchScreen}}</dd>
			<dd>{{phone.display.touchScreen|checkmark}}</dd>
		</dl>
		<dl>
			<dt>Accelerometer</dt>
			<dd>{{phone.hardware.accelerometer}}</dd>
			<dd>{{phone.hardware.accelerometer|checkmark}}</dd>
		</dl>
	</li>
</ul>